
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles{



<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
}


<div class="boxed">

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

        <!--Page Title-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        @*<div id="page-title">
                <h1 class="page-header text-overflow">Lista de Distribución</h1>


            </div>*@
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--End page title-->
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">

           

            <div id="mapCandidates" style="height: 500px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>
        </div>

    </div>

</div>


@section scripts{

<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/do/do-all.js"></script>

    <script src="@Url.Content("~/Scripts/Electoral/Map.js")"></script>
}

