
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Page content-->
<!--===================================================-->
<div class="boxed">

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">
        <div id="page-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Instructivo Votaci&oacute;n</h3>
                        </div>
                        <div class="panel-body">
                            <!-- Timeline -->
                            <!--===================================================-->
                            <div class="timeline">

                                <!-- Timeline header -->
                                <div class="timeline-header">
                                    <div class="timeline-header-title bg-info">Así Se Vota</div>
                                </div>

                                <div class="timeline-entry">
                                    <div class="timeline-stat">
                                        <div class="timeline-icon bg-danger">
                                            <i class="fa fa-building fa-lg"></i>
                                        </div>
                                        <div class="timeline-time">Paso 1</div>
                                    </div>
                                    <div class="timeline-label">
                                        <h4 class="mar-no pad-btm"><a href="#" class="text-danger">Acude a tu colegio electoral</a></h4>
                                        <p>Verifica el colegio que te corresponde en el dorso de tu cédula o <a href="#">consúltalo aquí.</a></p>
                                    </div>
                                    <div class="timeline-label">
                                        <p>Dirígete con tu cédula al colegio correspondiente. Los colegios estarán abiertos desde las 6:00 AM</p>
                                    </div>                                    
                                </div>

                                <div class="timeline-entry">
                                    <div class="timeline-stat">
                                        <div class="timeline-icon">
                                            <img alt="Profile picture" src="~/img/fingerprint.png">
                                        </div>
                                        <div class="timeline-time">Paso 2</div>
                                    </div>
                                    <div class="timeline-label">
                                        <h4 class="mar-no pad-btm"><a href="#" class="text-dark">Regístrate con tu huella digital</a></h4>
                                        <p>Ya en la mesa electoral, entrega tu cédula al secretario para que tus datos sean ingresados en el dispositivo de registro.</p>
                                    </div>
                                    <div class="timeline-label">
                                        <p>Tu registro será realizado mediante huella digital para verificar tu identidad.</p>
                                    </div>

                                </div>

                                <div class="timeline-entry">
                                    <div class="timeline-stat">
                                        <div class="timeline-icon bg-warning">
                                            <i class="fa fa-film fa-lg"></i>
                                        </div>
                                        <div class="timeline-time">Paso 3</div>
                                    </div>
                                    <div class="timeline-label">
                                        <h4 class="mar-no pad-btm"><a href="#" class="text-warning">Recibe la Boleta</a></h4>
                                        <p>Ya registrado recibirás 3 boletas firmadas y selladas. Si vives en el exterior, solo recibirás 2 boletas.</p>
                                    </div>

                                </div>
                            </div>

                            <div class="timeline-entry">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-success">
                                        <i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="timeline-time">Paso 4</div>
                                </div>
                                <div class="timeline-label">
                                    <h4 class="mar-no pad-btm"><a href="#" class="text-success">Ejerce tu derecho y elige tus candidatos</a></h4>
                                    <p>Ya en la caseta de votación, marca cada boleta correctamente.</p>
                                </div>
                                <div class="timeline-label">
                                    <p>Dobla en cuatro tus boletas. Deposita cada una en su urna correspondiente.</p>
                                </div>

                            </div>
                            <!--===================================================-->
                            <!-- End Timeline -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
        <!--===================================================-->
        <!--End page content-->

